* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  width: 540px;
  height: 185px;
  border: 1px solid black;
  background: #CCCCCC;
  display: flex;
}

main {
  border-left: 1px solid black;
  padding: 20px;
  position: relative;
}

.wrapper {
  display: flex;
}

.pencil-img {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

section {
  width: 110px;
}

.duck-img img {
  padding: 20px;
}

h1 {
  font-size: 24px;
  font-style: italic;
  margin-top: 0;
}

p, li {
  font-size: 14px;
}

p {
  margin-bottom: 0;
}

.section1 {
  font-weight: bold;
}

section ul {
  padding-left: 0;
}

section ul li {
  list-style: none;
}
